@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: '';
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #0f172a);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #0f172a);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-flex;
  flex-direction: row;
  gap: 50px;
  font-size: 73px;
  animation: 20s slide infinite linear;
}

.soft-skill {
  display: flex;
  flex-direction: row;
  margin: 80px;
}

.soft-skill h3 {
  font-size: 16px;
  width: 180px;
  font-weight: 600;
  background: #38bdf8;
  padding: 10px;
  color: #0f172a;
}

.soft-skill-text p {
  display: inline-flex;
  flex-direction: row;
  gap: 50px;
  padding-right: 25px;
}

@media (max-width: 580px) {
  .soft-skill {
    margin: 20px;
  }

  .soft-skill h3 {
    font-size: 14px;
    width: 150px;
    font-weight: 500;

    padding: 8px;
  }
  .soft-skill-text p {
    padding-right: 15px;
  }
}

@media (max-width: 420px) {
  .soft-skill {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .soft-skill h3 {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 5px;
    margin: 10px 0px;
  }

  .soft-skill-text p {
    padding-right: 15px;
  }
}
